:root {
  --primary-color: #0509fc;
  --secondary-color: rgb(0, 0, 0);
}
html {
  font-family: Roboto, sans-serif;
  }
* {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
}

h2 {
  color:var(--secondary-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color:var(--primary-color);
}

.contact {
  display: flex;

}

li {
  color:var(--secondary-color);
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}